# misc system files
.DS_Store

# virtualenv files
bin
include
lib
.Python
pip-selfcheck.json

# database files
db.sqlite3

# misc django files
__pycache__
migrations

# misc python files
*.pyc

# temporarily skip images files until they are optimized
*.jpg

# secret files (authentication, DB, system)
settings.py*
wsgi.py*
_secrets/

# project archive file
kidsfm.zip
