alabaster==0.7.9
appdirs==1.4.0
Babel==2.3.4
Django==1.10.5
django-extensions==1.7.7
docutils==0.13.1
google-api-python-client==1.6.2
httplib2==0.10.3
imagesize==0.7.1
Jinja2==2.9.5
MarkupSafe==0.23
oauth2client==4.0.0
olefile==0.44
packaging==16.8
Pillow==4.0.0
pyasn1==0.2.2
pyasn1-modules==0.0.8
Pygments==2.2.0
pyparsing==2.1.10
pytz==2016.10
requests==2.13.0
rsa==3.4.2
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.5.2
uritemplate==3.0.0
urllib3==1.20
