{% extends "kidsfm/base.html" %}
{% load staticfiles %}


{% block metadata %}
	<title>Our Mission - Kids FM</title>
{% endblock %}




{% block content %}

	
	{# jumbotron #}
    <!--start section-->
    <section id="nicdark_parallax_title" class="nicdark_section nicdark_imgparallax nicdark_parallaxx_img-excursions">
        <div class="nicdark_filter greydark">
            <!--start nicdark_container-->
            <div class="nicdark_container nicdark_clearfix">
                <div class="grid grid_12">
                    <div class="nicdark_space100"></div>
                    <div class="nicdark_space100"></div>
                    <h1 class="white subtitle">Our Mission</h1>
                    <div class="nicdark_space10"></div>
                    <h3 class="subtitle white">Kids FM's approach is to introduce the Gospel to Children in a fun and exciting way</h3>
                    <div class="nicdark_space20"></div>
                    <div class="nicdark_divider left big"><span class="nicdark_bg_white nicdark_radius"></span></div>
                    <div class="nicdark_space40"></div>
                    <div class="nicdark_space50"></div>
                </div>
            </div>
            <!--end nicdark_container-->
        </div>
    </section>
    <!--end section-->
    {# end jumbotron #}



    {# mission statements #}
    <!--start section-->
    <section class="nicdark_section">
        <!--start nicdark_container-->
        <div class="nicdark_container nicdark_clearfix">
            <div class="nicdark_space50"></div>

            {# statement #}
            <div class="grid grid_3">
                <div class="nicdark_archive1 nicdark_bg_grey nicdark_radius nicdark_shadow">
<!-- 
	disabled:
	- time
	- location
                    <a title="9:00 AM" href="excursions.php.html#" class="nicdark_tooltip nicdark_btn_icon nicdark_bg_greydark white medium nicdark_radius_circle nicdark_absolute_left"><i class="icon-clock"></i></a>
                    <a title="NEW YORK" href="excursions.php.html#" class="nicdark_tooltip nicdark_btn_icon nicdark_bg_greydark white medium nicdark_radius_circle nicdark_absolute_right"><i class="icon-location-outline"></i></a>
-->
                    <img alt="" src="{% static "kidsfm/img/excursions/img1.jpg" %}">
<!-- 
	disabled: 
	- header
                    <div class="nicdark_textevidence nicdark_bg_greydark center">
                        <h4 class="white nicdark_margin20">DAY AT THE ZOO</h4>
                    </div>
-->
                     <div class="nicdark_textevidence nicdark_bg_orange center">
                        <h5 class="white nicdark_margin20">24/7 programming</h5>
                        <i class="icon-stopwatch nicdark_iconbg right medium orange"></i>
                    </div>
                    <div class="nicdark_textevidence center">
                        <div class="nicdark_margin20">
                            <p>You can count on us to fill your airwaves with wonderful content at any time of the day or night</p>
                            <div class="nicdark_space20"></div>
                            <a href="single-excursion.php.html" class="nicdark_press white nicdark_btn nicdark_bg_orange medium nicdark_radius nicdark_shadow">MORE INFO</a>
                        </div>
                    </div>
                </div>
            </div>
            {# end statement #}



            {# statement #}
            <div class="grid grid_3">
                <div class="nicdark_archive1 nicdark_bg_grey nicdark_radius nicdark_shadow">
<!-- 
	disabled:
	- time
	- location
                    <a title="9:00 AM" href="excursions.php.html#" class="nicdark_tooltip nicdark_btn_icon nicdark_bg_greydark white medium nicdark_radius_circle nicdark_absolute_left"><i class="icon-clock"></i></a>
                    <a title="NEW YORK" href="excursions.php.html#" class="nicdark_tooltip nicdark_btn_icon nicdark_bg_greydark white medium nicdark_radius_circle nicdark_absolute_right"><i class="icon-location-outline"></i></a>
-->
                    <img alt="" src="{% static "kidsfm/img/excursions/img2.jpg" %}">
<!-- 
	disabled: 
	- header
                    <div class="nicdark_textevidence nicdark_bg_greydark center">
                        <h4 class="white nicdark_margin20">VISIT THE PLANETARIUM</h4>
                    </div>
-->
                     <div class="nicdark_textevidence nicdark_bg_blue center">
                        <h5 class="white nicdark_margin20">Music</h5>
                        <i class="icon-headphones-1 nicdark_iconbg right medium blue"></i>
                    </div>
                    <div class="nicdark_textevidence center">
                        <div class="nicdark_margin20">
                            <p>From timeless classics to the latest tunes, we select only the best music for you child.</p>
                            <div class="nicdark_space20"></div>
                            <a href="single-excursion.php.html" class="nicdark_press white nicdark_btn nicdark_bg_blue medium nicdark_radius nicdark_shadow">MORE INFO</a>
                        </div>
                    </div>

                </div>

            </div>
            {# end statement #}



            {# statement #}
            <div class="grid grid_3">
                <div class="nicdark_archive1 nicdark_bg_grey nicdark_radius nicdark_shadow">
<!-- 
	disabled:
	- time
	- location
                    <a title="9:00 AM" href="excursions.php.html#" class="nicdark_tooltip nicdark_btn_icon nicdark_bg_greydark white medium nicdark_radius_circle nicdark_absolute_left"><i class="icon-clock"></i></a>
                    <a title="NEW YORK" href="excursions.php.html#" class="nicdark_tooltip nicdark_btn_icon nicdark_bg_greydark white medium nicdark_radius_circle nicdark_absolute_right"><i class="icon-location-outline"></i></a>
-->
                    <img alt="" src="{% static "kidsfm/img/excursions/img3.jpg" %}">
<!-- 
	disabled: 
	- header
                    <div class="nicdark_textevidence nicdark_bg_greydark center">
                        <h4 class="white nicdark_margin20">ART MUSEUM</h4>
                    </div>
-->
                     <div class="nicdark_textevidence nicdark_bg_red center">
                        <h5 class="white nicdark_margin20">Languages</h5>
                        <i class="icon-globe-2 nicdark_iconbg right medium red"></i>
                    </div>
                    <div class="nicdark_textevidence center">
                        <div class="nicdark_margin20">
                            <p>Our programming includes a mixture of Creole, French, English and Spanish content.</p>
                            <div class="nicdark_space20"></div>
                            <a href="single-excursion.php.html" class="nicdark_press white nicdark_btn nicdark_bg_red medium nicdark_radius nicdark_shadow">MORE INFO</a>
                        </div>
                    </div>
                </div>
            </div>
            {# end statement #}


        </div>
        <!--end nicdark_container-->
    </section>
    <!--end section-->
    {# end mission statements #}



    {# page navigation buttons #}
    <!--start section-->
    <div class="nicdark_section">
        <!--start nicdark_container-->
        <div class="nicdark_container nicdark_clearfix">
            <div class="nicdark_space40"></div>
            {# prev #}
            <div class="grid grid_6 nicdark_aligncenter_iphoneland nicdark_aligncenter_iphonepotr">
                <a class="nicdark_disable_floatright_iphoneland nicdark_disable_floatright_iphonepotr nicdark_btn nicdark_bg_green medium right nicdark_shadow nicdark_radius white nicdark_press"><i class="icon-left-open-outline"></i>&nbsp;&nbsp;&nbsp;PREV</a>
            </div>
            {# end prev #}

            {# next #}
            <div class="grid grid_6 nicdark_aligncenter_iphoneland nicdark_aligncenter_iphonepotr">
                <a class=" nicdark_btn nicdark_bg_green medium nicdark_shadow nicdark_radius white nicdark_press">NEXT&nbsp;&nbsp;&nbsp;<i class="icon-right-open-outline"></i></a>
            </div>
            {# end next #}
            <div class="nicdark_space50"></div>
        </div>
        <!--end nicdark_container-->
    </div>
    <!--end section-->
    {# page navigation buttons #}







{% endblock %}





