{% extends "kidsfm/base.html" %}
{% load staticfiles %}


{% block metadata %}
	<title>Programming - Kids FM</title>
{% endblock %}




{% block content %}

	
	{# jumbotron #}
    <!--start section-->
    <section id="nicdark_parallax_title" class="nicdark_section nicdark_imgparallax nicdark_parallaxx_img-single-excursion">
        <div class="nicdark_filter greydark">
            <!--start nicdark_container-->
            <div class="nicdark_container nicdark_clearfix">
                <div class="grid grid_12">
                    <div class="nicdark_space100"></div>
                    <div class="nicdark_space100"></div>
                    <h1 class="white subtitle">24/7 programming</h1>
                    <div class="nicdark_space10"></div>
<!--
	Disabled:
	- subtitle (call to action)
                    <h3 class="subtitle white">DON'T MISS THIS DAY, SUBSCRIBE NOW !</h3>
-->
                    <div class="nicdark_space20"></div>
                    <div class="nicdark_divider left big"><span class="nicdark_bg_white nicdark_radius"></span></div>
                    <div class="nicdark_space40"></div>
                    <div class="nicdark_space50"></div>
                </div>
            </div>
            <!--end nicdark_container-->
        </div>
    </section>
    <!--end section-->
    {# end jumbotron #}



    {# mission statement #}
    <!--start section-->
    <section class="nicdark_section">
        <!--start nicdark_container-->
        <div class="nicdark_container nicdark_clearfix">
            <div class="nicdark_space50"></div>
            <div class="grid grid_8">
                <p>
                	<span class="white nicdark_dropcap nicdark_bg_yellow nicdark_radius nicdark_shadow">L</span>orem commodo lectus at sollicitudin elementum. Sed dolor turpis, condimentum sit amet maximus sit amet, rhoncus non turpis. Aenean convallis ac lorem et sodales. Sed dictum vel orci nec rhoncus. Donec quis porttitor arcu. Nulla ut justo quis augue commodo mattis nec vel ante.<br/><br/>Lorem commodo lectus at sollicitudin elementum. Sed dolor turpis, condimentum sit amet maximus sit amet, rhoncus non turpis. Aenean convallis ac lorem et sodales. Sed dictum vel orci nec rhoncus. Donec quis porttitor arcu. Nulla ut justo quis augue commodo mattis nec vel ante.<br/><br/>Lorem commodo lectus at sollicitudin elementum. Sed dolor turpis, condimentum sit amet maximus sit amet, rhoncus non turpis. Aenean convallis ac lorem et sodales. Sed dictum vel orci nec rhoncus. Donec quis porttitor arcu. Nulla ut justo quis augue commodo mattis nec vel ante.
                </p>
                <div class="nicdark_space50"></div>
            	<div class="nicdark_space50"></div>
        </div>
        <!--end nicdark_container-->
    </section>
    <!--end section-->
    {# end mission statement #}



{% endblock %}





