{% extends "kidsfm/base.html" %}
{% load staticfiles %}


{% block metadata %}
    <title>Good Morning Haiti - Kids FM</title>
{% endblock %}


{% block content %}
	
	{# jumbotron #}
	<!--start section-->
    <section id="nicdark_parallax_title" class="nicdark_section nicdark_imgparallax nicdark_parallaxx_img-single-event">
        <div class="nicdark_filter greydark">
            <div class="nicdark_container nicdark_clearfix">
                <div class="grid grid_12">
                    <div class="nicdark_space100"></div>
                    <div class="nicdark_space100"></div>
                    <h1 class="white subtitle">{{ program.title }}</h1>
                    <div class="nicdark_space20"></div>
                    <div class="nicdark_divider left big"><span class="nicdark_bg_white nicdark_radius"></span></div>
                    <div class="nicdark_space40"></div>
                    <div class="nicdark_space50"></div>
                </div>
            </div>
        </div>
    </section>
    <!--end section-->
    {# end jumbotron #}


    {# program metadata #}
    <!--start section-->
    <section class="nicdark_section">
        <div class="nicdark_container nicdark_clearfix">
            <div class="nicdark_space10"></div>
            <div class="grid grid_12 nicdark_bg_grey nicdark_shadow nicdark_radius">     
                <div class="nicdark_margin10">
                    <div class="grid grid_6">
                        <div class="nicdark_margin10 nicdark_relative">
                            <a href="single-event.php.html#" class="nicdark_btn_icon nicdark_bg_red extrabig nicdark_shadow nicdark_radius_circle white nicdark_absolute nicdark_displaynone_ipadpotr"><i class="icon-wristwatch"></i></a>
                            <div class="nicdark_activity nicdark_marginleft100 nicdark_disable_marginleft_ipadpotr">
                                <div class="nicdark_space20"></div>
                                <h4>
                                    {{ program.start_time | date:"g:i A" | lower }}
                                    &nbsp;-&nbsp;
                                    {{ program.end_time | date:"g:i A" | lower }}
                                </h4>
                                <p>
                                    {% for frequency in program.frequency.all %}
                                        {{ frequency }}
                                    {% endfor %}
                                </p>
                                <div class="nicdark_space20"></div>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end section-->
    {# program metadata #}


    {# program description #}
    <!--start section-->
    <section class="nicdark_section">
        <div class="nicdark_container nicdark_clearfix">
            <div class="nicdark_space50"></div>
            <div class="grid grid_6 description">
                <p>
                    <span class="white nicdark_dropcap nicdark_bg_red nicdark_radius nicdark_shadow">
                        {{ program.description | slice:":1" }}
                    </span>
                    {{ program.description | slice:"1:" | linebreaks }}
                </p>
                <div class="nicdark_space10"></div>

                <!--
                <div class="nicdark_focus center">
                    <div class="nicdark_margin10">
                        <a title="ADD THIS EVENT" href="single-event.php.html#" class="nicdark_tooltip nicdark_btn nicdark_bg_red medium nicdark_shadow nicdark_radius white nicdark_margin10"><i class="icon-calendar-1"></i>&nbsp;&nbsp;&nbsp;I CALENDAR</a>
                    </div>
                    <div class="nicdark_margin10">
                        <a title="CONTACT US" href="single-event.php.html#" class="nicdark_tooltip nicdark_btn nicdark_bg_green medium nicdark_shadow nicdark_radius white nicdark_margin10"><i class="icon-info-outline"></i>&nbsp;&nbsp;&nbsp;INFORMATION</a>
                    </div>
                </div>
                -->


            </div>

            {# team index #}
            <div class="grid grid_6">
                <div class="nicdark_textevidence nicdark_bg_grey nicdark_shadow nicdark_radius left ">  
                    <table class="nicdark_table big nicdark_bg_red nicdark_radius ">
                        <thead class="nicdark_border_red">
                            <tr>
                                <td><h4 class="white">Brought to you by</h4></td>
                            </tr>
                        </thead>
                        <tbody class="nicdark_bg_grey nicdark_border_grey">
                            {% for member in program.team.all %}
                            <tr>
                                <td>
                                    <div class="grid grid_12">
                                        <div class="nicdark_margin10 nicdark_relative">
                                            <a href="/team/members/{{ member.slug }}">
                                                <img alt="" class="nicdark_displaynone_ipadpotr nicdark_radius_circle nicdark_relative" style="width:100px;float:left;" src="{{ member.profile_img.url }}">
                                                <div class="nicdark_activity nicdark_marginleft20 nicdark_disable_marginleft_ipadpotr">
                                                    <div class="nicdark_space10"></div>
                                                    <h4>
                                                        {{ member.first_name | add:' ' | capfirst }}
                                                        {{ member.middle_name | add:' ' | capfirst }}
                                                        {{ member.last_name | add:' ' | capfirst }}
                                                    </h4>
                                                    <p>
                                                        {{ member.role }}
                                                    </p>
                                                    <p>
                                                        {{ member.bio | truncatechars:"50" }}
                                                    </p>
                                                    <div class="nicdark_space10"></div>
                                                </div> 
                                            </a>  
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {# end team index #}




            <div class="nicdark_space40"></div>
            <div class="nicdark_space50"></div>
        </div>
    </section>
    <!--end section-->
    {# end program description #}

{% endblock %}
