{% extends "kidsfm/base.html" %}
{% load staticfiles %}


{% block metadata %}
    <title>Good Morning Haiti - Kids FM</title>
{% endblock %}


{% block content %}
	
	{# jumbotron #}
	<!--start section-->
    <section id="nicdark_parallax_title" class="nicdark_section nicdark_imgparallax nicdark_parallaxx_img-single-event">
        <div class="nicdark_filter greydark">
            <!--start nicdark_container-->
            <div class="nicdark_container nicdark_clearfix">
                <div class="grid grid_12">
                    <div class="nicdark_space100"></div>
                    <div class="nicdark_space100"></div>
                    <h1 class="white subtitle">Good Morning Haiti</h1>
                    <div class="nicdark_space10"></div>
                    <h3 class="subtitle white">There's no better way to start your morning</h3>
                    <div class="nicdark_space20"></div>
                    <div class="nicdark_divider left big"><span class="nicdark_bg_white nicdark_radius"></span></div>
                    <div class="nicdark_space40"></div>
                    <div class="nicdark_space50"></div>
                </div>
            </div>
            <!--end nicdark_container-->
        </div>
    </section>
    <!--end section-->
    {# end jumbotron #}


    {# program metadata #}
    <!--start section-->
    <section class="nicdark_section">
        <!--start nicdark_container-->
        <div class="nicdark_container nicdark_clearfix">
            <div class="nicdark_space10"></div>
            <div class="grid grid_12 nicdark_bg_grey nicdark_shadow nicdark_radius">     
                <div class="nicdark_margin10">
<!--
	disabled:
	- location
                    <div class="grid grid_3 percentage">
                        <div class="nicdark_margin10 nicdark_relative">
                            <a href="single-event.php.html#" class="nicdark_btn_icon nicdark_bg_green nicdark_shadow extrabig nicdark_radius_circle white nicdark_absolute nicdark_displaynone_ipadpotr"><i class="icon-location-outline"></i></a>
                            <div class="nicdark_activity nicdark_marginleft100 nicdark_disable_marginleft_ipadpotr">
                                <h4>OUR SCHOOL</h4>                        
                                <div class="nicdark_space20"></div>
                                <p>Lorem ipsum dolor sit amet, consec adipiscing.</p>
                            </div>    
                        </div>
                    </div>
-->
                    <div class="grid grid_3 percentage">
                        <div class="nicdark_margin10 nicdark_relative">
                            <a href="single-event.php.html#" class="nicdark_btn_icon nicdark_bg_red extrabig nicdark_shadow nicdark_radius_circle white nicdark_absolute nicdark_displaynone_ipadpotr"><i class="icon-wristwatch"></i></a>
                            <div class="nicdark_activity nicdark_marginleft100 nicdark_disable_marginleft_ipadpotr">
                                <h4>9:00 TO 10:00</h4>                        
                                <div class="nicdark_space20"></div>
                                <p>Lorem ipsum dolor sit amet, consec adipiscing.</p>
                            </div>    
                        </div>
                    </div>
                    <div class="grid grid_3 percentage">
                        <div class="nicdark_margin10 nicdark_relative">
                            <a href="single-event.php.html#" class="nicdark_btn_icon nicdark_bg_yellow extrabig nicdark_shadow nicdark_radius_circle white nicdark_absolute nicdark_displaynone_ipadpotr"><i class="icon-phone-outline"></i></a>
                            <div class="nicdark_activity nicdark_marginleft100 nicdark_disable_marginleft_ipadpotr">
                                <h4>(00) 051907080</h4>                        
                                <div class="nicdark_space20"></div>
                                <p>Lorem ipsum dolor sit amet, consec adipiscing.</p>
                            </div>    
                        </div>
                    </div>
                    <div class="grid grid_3 percentage">
                        <div class="nicdark_margin10 nicdark_relative">
                            <a href="single-event.php.html#" class="nicdark_btn_icon nicdark_bg_orange extrabig nicdark_shadow nicdark_radius_circle white nicdark_absolute nicdark_displaynone_ipadpotr"><i class="icon-download-outline"></i></a>
                            
                            <div class="nicdark_activity nicdark_marginleft100 nicdark_disable_marginleft_ipadpotr">
                                <h4>Hosted by</h4>                        
                                <div class="nicdark_space20"></div>
                                <p>Jane Doe, the best DJ this side of the equator</p>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end nicdark_container-->
    </section>
    <!--end section-->
    {# program metadata #}


    {# program description #}
    <!--start section-->
    <section class="nicdark_section">
        <!--start nicdark_container-->
        <div class="nicdark_container nicdark_clearfix">
            <div class="nicdark_space50"></div>
            <div class="grid grid_6">
                <p><span class="white nicdark_dropcap nicdark_bg_red nicdark_radius nicdark_shadow">L</span>orem commodo lectus at sollicitudin elementum. Sed dolor turpis, condimentum sit amet maximus sit amet, rhoncus non turpis. Aenean convallis ac lorem et sodales. Sed dictum vel orci nec rhoncus. Donec quis porttitor arcu. Nulla ut justo quis augue commodo mattis nec vel ante.<br/><br/>Lorem commodo lectus at sollicitudin elementum. Sed dolor turpis, condimentum sit amet maximus sit amet, rhoncus non turpis. Aenean convallis ac lorem et sodales. Sed dictum vel orci nec rhoncus. Donec quis porttitor arcu. Nulla ut justo quis augue commodo mattis nec vel ante.<br/><br/>Lorem commodo lectus at sollicitudin elementum. Sed dolor turpis, condimentum sit amet maximus sit amet, rhoncus non turpis. Aenean convallis ac lorem et sodales. Sed dictum vel orci nec rhoncus. Donec quis porttitor arcu. Nulla ut justo quis augue commodo mattis nec vel ante.</p>
                <div class="nicdark_space10"></div>
                <div class="nicdark_focus center">
                    <div class="nicdark_margin10">
                        <a title="ADD THIS EVENT" href="single-event.php.html#" class="nicdark_tooltip nicdark_btn nicdark_bg_red medium nicdark_shadow nicdark_radius white nicdark_margin10"><i class="icon-calendar-1"></i>&nbsp;&nbsp;&nbsp;I CALENDAR</a>
                    </div>
                    <div class="nicdark_margin10">
                        <a title="CONTACT US" href="single-event.php.html#" class="nicdark_tooltip nicdark_btn nicdark_bg_green medium nicdark_shadow nicdark_radius white nicdark_margin10"><i class="icon-info-outline"></i>&nbsp;&nbsp;&nbsp;INFORMATION</a>
                    </div>
                </div>
            </div>
<!--
	disabled:
	- event details accordion

            <div class="grid grid_6">
                <!--start nicdark_accordion->
                <div class="nicdark_accordion">
                    <h5 class="nicdark_accordion_header white big nicdark_bg_red nicdark_shadow nicdark_radius">EVENT ORGANIZATION</h5>
                    <div class="nicdark_accordion_content">
                        <p>Mauris mauris ante, blandit et, ultrices a, susceros. Nam mi. Proin viverra leo ut odio.</p>
                    </div>
                    <h5 class="nicdark_accordion_header grey big nicdark_bg_grey nicdark_shadow nicdark_radius">PROGRAM OF THE EVENTS</h5>
                    <div class="nicdark_accordion_content">
                        <p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna. </p>
                    </div>
                    <h5 class="nicdark_accordion_header grey big nicdark_bg_grey nicdark_shadow nicdark_radius">THE MENU OF THE DAY</h5>
                    <div class="nicdark_accordion_content">
                        <p>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui. </p>
                    </div>
                    <h5 class="nicdark_accordion_header grey big nicdark_bg_grey nicdark_shadow nicdark_radius">ENTERTAINMENT SHOW</h5>
                    <div class="nicdark_accordion_content">
                        <p>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui. </p>
                    </div>
                    <h5 class="nicdark_accordion_header grey big nicdark_bg_grey nicdark_shadow nicdark_radius">LOREM IPSUM DOLOR</h5>
                    <div class="nicdark_accordion_content">
                        <p>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui. </p>
                    </div>
                </div>
                <!--end nicdark_accordion->
            </div>
-->
            <div class="nicdark_space40"></div>
        </div>
        <!--end nicdark_container-->
    </section>
    <!--end section-->
    {# end program description #}


    {# map widget #}
    <!--start section-->
<!--
	disabled:
	- Map Widget

    <section class="nicdark_section">
        <div class="nicdark_textevidence">
            <iframe class="nicdark_iframe nicdark_margintop40_negative nicdark_marginbottom90_negative" src="https://mapsengine.google.com/map/embed?mid=zefx5FZI0Z00.kKFANsaMqDXY" height="400" ></iframe>
        </div>
    </section>
-->
    <!--end section-->
    {# map widget #}


<!--
	disabled:
	- media widget
	
    {# media widget header #}
    <!--start section->
    <section class="nicdark_section">
        <!--start nicdark_container->
        <div class="nicdark_container nicdark_clearfix">
            <div class="nicdark_space50"></div>
            <div class="grid grid_12">
                <h1 class="subtitle greydark">Media</h1>
                <div class="nicdark_space20"></div>
                <h3 class="subtitle grey">Checkout this past episode and taste the goodness</h3>
                <div class="nicdark_space20"></div>
                <div class="nicdark_divider left big"><span class="nicdark_bg_red nicdark_radius"></span></div> 
            </div>
        </div>
        <!--end nicdark_container->
    </section>
    <!--end section->
    {# end media widget header #}



    {# video #}
    <!--start section->
    <section class="nicdark_section">
        <!--start nicdark_container->
        <div class="nicdark_container nicdark_clearfix">
            <div class="nicdark_space10"></div>
            {# video #}
            <div class="grid grid_6">
                <!--start section->
                <section class="nicdark_section">
                    <div class="tp-banner-container">
                        <div id="nicdark_slide1" class="tp-banner">
                            <ul>
                                <!-- SLIDE  ->
                                <li data-transition="slidehorizontal" data-slotamount="7" data-masterspeed="1000"  data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7">
                                    <!-- MAIN IMAGE ->
                                    <img src="{% static "kidsfm/img/slide/img5.jpg" %}"  alt="video_forest"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                                    <!-- LAYERS ->

                                    <!-- LAYER NR. 1 ->
                                    <div class="tp-caption tp-fade fadeout fullscreenvideo"
                                        data-x="0"
                                        data-y="0"
                                        data-speed="1000"
                                        data-start="1100"
                                        data-easing="Power4.easeOut"
                                        data-endspeed="1500"
                                        data-endeasing="Power4.easeIn"
                                        data-autoplay="false"
                                        data-autoplayonlyfirsttime="false"
                                        data-nextslideatend="true"
                                        data-forceCover="1"
                                        data-aspectratio="16:9"
                                        data-forcerewind="on"
                                        style="z-index: 2">

                                        <video class="video-js vjs-default-skin" preload="none" width="100%" height="100%" poster='{% static "kidsfm/img/slide/img5.jpg" %}' data-setup="{}">
                                            <source src='{% static "kidsfm/img/videos/video1.mp4" %}' type='video/mp4' />
                                        </video>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <!--end section->        
            </div>
            {# end video #}

            {# photo slideshow #}
            <div class="grid grid_6">  
                <!--start section->
                <section class="nicdark_section">
                    <div class="tp-banner-container">
                        <div id="nicdark_slide2" class="tp-banner">
                            <ul>
                                <!--start second->
                                <li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on"  data-title="LESSON">
                                    <img src="{% static "kidsfm/img/slide/img6.jpg" %}"  alt="" data-lazyload="{% static "kidsfm/img/slide/img6.jpg" %}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                                </li>
                                <!--end second->

                                <!--start first->
                                <li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on"  data-title="FRIENDS">
                                    <img src="{% static "kidsfm/img/slide/img7.jpg" %}"  alt="" data-lazyload="{% static "kidsfm/img/slide/img7.jpg" %}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">  
                                </li>
                                <!--end first->

                            </ul>
                        </div>
                    </div>
                </section>
                <!--end section->       
            </div>
            <div class="nicdark_space20"></div>
-->
            {# end photo slideshow #}


            {# registration widget #}
<!--
	disabled:
	- registration form            
            <div class="grid grid_12 nicdark_bg_grey nicdark_shadow nicdark_radius nicdark_relative">
                <a href="single-event.php.html#" class="nicdark_displaynone_iphoneland nicdark_displaynone_iphonepotr nicdark_btn_icon nicdark_bg_red  extrabig nicdark_radius_left white nicdark_absolute"><i class="icon-heart-2"></i></a>
                <div class="nicdark_textevidence">
                    <div class="nicdark_margin1820 nicdark_marginleft100 nicdark_marginleft20_iphoneland nicdark_marginleft20_iphonepotr">
                        <div class="nicdark_focus nicdark_width_percentage80">
                            <input class="nicdark_bg_grey2 nicdark_radius nicdark_shadow grey medium subtitle" type="text" placeholder="LEAVE YOUR @MAIL" value="" size="200">       
                        </div>
                        <div class="nicdark_focus nicdark_width_percentage20">
                            <div class="nicdark_marginleft20 nicdark_disable_marginleft_iphoneland nicdark_disable_marginleft_iphonepotr">
                                <input class="nicdark_btn fullwidth nicdark_bg_red medium nicdark_shadow nicdark_radius white nicdark_press" type="submit" value="SEND"  >     
                            </div>
                        </div>
                    </div>
                </div>
            </div>
-->
            {# end registration widget #}

            <div class="nicdark_space50"></div>
        </div>
        <!--end nicdark_container-->
    </section>
    <!--end section-->


{% endblock %}
