{% extends "kidsfm/base.html" %}
{% load staticfiles %}
{% load static %}


{% block metadata %}
    <title>Member - Kids FM</title>
{% endblock %}


{% block content %}

	{# jumbotron #}
    <!--start section-->
    <section id="nicdark_parallax_title" class="nicdark_section nicdark_imgparallax nicdark_parallaxx_img-single-teacher-1">
        <div class="nicdark_filter greydark">
            <!--start nicdark_container-->
            <div class="nicdark_container nicdark_clearfix">
                <div class="grid grid_12">
                    <div class="nicdark_space100"></div>
                    <div class="nicdark_space100"></div>
                    <h1 class="white subtitle">
                        {{ member.first_name | add:' ' | capfirst }}
                        {{ member.middle_name | add:' ' | capfirst }}
                        {{ member.last_name | add:' ' | capfirst }}
                    </h1>
                    <div class="nicdark_space10"></div>
                    <h3 class="subtitle white">
                        {{ member.role | capfirst }}
                    </h3>
                    <div class="nicdark_space20"></div>
                    <div class="nicdark_divider left big"><span class="nicdark_bg_white nicdark_radius"></span></div>
                    <div class="nicdark_space40"></div>
                    <div class="nicdark_space50"></div>
                </div>
            </div>
            <!--end nicdark_container-->
        </div>
    </section>
    <!--end section-->
    {# end jumbotron #}


    {# member details #}
    <!--start section-->
    <section class="nicdark_section">
        <!--start nicdark_container-->
        <div class="nicdark_container nicdark_clearfix">
            <div class="nicdark_space50"></div>
            <div class="grid grid_4">
                <img 
                    alt="{{ member.first_name | add:' ' | capfirst }}{{ member.middle_name | add:' ' | capfirst }}{{ member.last_name | add:' ' | capfirst }}profile image" 
                    class="nicdark_radius nicdark_opacity" 
                    style="float:left;width:100%;" 
                    src="{% get_media_prefix %}{{ member.profile_img }}"
                >
                <div class="nicdark_space10"></div>
                <div class="nicdark_focus center">
                    <div class="nicdark_margin10">
                        <a title="Email" href="mailto:{{ member.email }}" class="nicdark_press nicdark_tooltip right nicdark_btn_icon nicdark_bg_blue nicdark_shadow small nicdark_radius white"><i class="icon-mail"></i></a>
                    </div>
                    <div class="nicdark_margin10">
                        <a title="Portfolio" href="{{ member.portfolio }}" class="nicdark_press nicdark_tooltip right nicdark_btn_icon nicdark_bg_blue nicdark_shadow small nicdark_radius white"><i class="icon-globe-outline"></i></a>
                    </div>
                    <div class="nicdark_margin10">
                        <a title="Social Media" href="{{ member.social_media }}" class="nicdark_press nicdark_tooltip right nicdark_btn_icon nicdark_bg_blue nicdark_shadow small nicdark_radius white"><i class="icon-youtube-play"></i></a>
                    </div>
                </div>
            </div>

            <div class="grid grid_4">
                <h3 class="subtitle greydark">About Me</h3>
                <div class="nicdark_space20"></div>
                <div class="nicdark_divider left small"><span class="nicdark_bg_blue nicdark_radius"></span></div>
                <div class="nicdark_space20"></div>
                <div class="description">
                    <p>
                    <span class="white nicdark_dropcap nicdark_bg_blue nicdark_radius nicdark_shadow">
                        {{ member.bio | slice:":1" }}
                    </span>
                    {{ member.bio | slice:"1:" | linebreaks }}
                    </p>
                </div>
            </div>


            <div class="grid grid_4">
                <h3 class="subtitle greydark">My Interests</h3>
                <div class="nicdark_space20"></div>
                <div class="nicdark_divider left small"><span class="nicdark_bg_yellow nicdark_radius"></span></div>
                
                
                {% for interest in interests %}
                <div class="nicdark_space20"></div>
                <div class="nicdark_progressbar nicdark_bg_grey nicdark_radius nicdark_shadow">
                    <h5 class="nicdark_progressbar_title nicdark_bg_{% cycle 'blue' 'yellow' 'green' 'violet' 'orange' 'red' as bg_color %} nicdark_bg_yellowdark_hover nicdark_radius nicdark_shadow fade-left animate1 animated fadeInLeft" style="width:100%">
                        <span class="white nicdark_size_big">
                            <i class="icon-brush"></i>&nbsp;&nbsp;&nbsp;{{ interest }}
                        </span>
                    </h5>
                </div>
                {% endfor %}  
            </div>

            <div class="nicdark_space50"></div>

        </div>
        <!--end nicdark_container-->
                
    </section>
    <!--end section-->
    {# end member details #}



    {# parallax #}
    <!--start section-->
    <div id="nicdark_parallax_2_btns" class="nicdark_section nicdark_imgparallax nicdark_parallaxx_img8">
            <!--start nicdark_container-->
            <div class="nicdark_container nicdark_clearfix">
                <div class="nicdark_space40"></div>
                <div class="nicdark_space50"></div>
                <div class="grid grid_6 nicdark_aligncenter_iphoneland nicdark_aligncenter_iphonepotr">
                    <a href="/team/" class="nicdark_disable_floatright_iphoneland nicdark_disable_floatright_iphonepotr nicdark_btn nicdark_bg_blue medium right nicdark_shadow nicdark_radius white nicdark_press"><i class="icon-users-outline"></i>&nbsp;&nbsp;&nbsp;Our Team</a>
                </div>
                <div class="grid grid_6 nicdark_aligncenter_iphoneland nicdark_aligncenter_iphonepotr">
                    <a href="/contact/" class=" nicdark_btn nicdark_bg_blue medium nicdark_shadow nicdark_radius white nicdark_press"><i class="icon-contacts"></i>&nbsp;&nbsp;&nbsp;Contact Us</a>
                </div>
                <div class="nicdark_space40"></div>
                <div class="nicdark_space50"></div>
            </div>
            <!--end nicdark_container-->
    </div>
    <!--end section-->
    {# end parallax #}


{% endblock %}



