{% extends "kidsfm/base.html" %}
{% load staticfiles %}


{% block metadata %}
    <title>Blog - Kids FM</title>
{% endblock %}


{% block content %}
	
	{# jumbotron #}
    <section id="nicdark_parallax_title" class="nicdark_section nicdark_imgparallax nicdark_parallaxx_img7">
        <div class="nicdark_filter greydark">
            <div class="nicdark_container nicdark_clearfix">
                <div class="grid grid_12">
                    <div class="nicdark_space100"></div>
                    <div class="nicdark_space100"></div>
                    <h1 class="white subtitle">Our Blog</h1>
                    <div class="nicdark_space10"></div>
                    <h3 class="subtitle white">Stay in touch with our latest developments</h3>
                    <div class="nicdark_space20"></div>
                    <div class="nicdark_divider left big"><span class="nicdark_bg_white nicdark_radius"></span></div>
                    <div class="nicdark_space40"></div>
                    <div class="nicdark_space50"></div>
                </div>

            </div>
        </div>
    </section>
    {# end jumbotron #}


    {# blog #}
    <section class="nicdark_section">
        <div class="nicdark_container nicdark_clearfix">
            <div class="nicdark_space50"></div>
            
            {# filter widget #}
            {% comment %}
            <!--
            <div class="nicdark_masonry_btns">
                <div class="nicdark_margin10">
                    <a data-filter="*" class="nicdark_bg_grey2_hover nicdark_transition nicdark_btn nicdark_bg_grey small nicdark_shadow nicdark_radius grey">ALL</a>
                </div>
                <div class="nicdark_margin10">
                    <a data-filter=".educational" class="nicdark_bg_grey2_hover nicdark_transition nicdark_btn nicdark_bg_grey small nicdark_shadow nicdark_radius grey">EDUCATIONAL</a>
                </div>
                <div class="nicdark_margin10">
                    <a data-filter=".excursions" class="nicdark_bg_grey2_hover nicdark_transition nicdark_btn nicdark_bg_grey small nicdark_shadow nicdark_radius grey">EXCURSIONS</a>
                </div>
                <div class="nicdark_space10"></div>
            </div>
            -->
            {% endcomment %}
            {# end filters widget #}


            {# articles #}
            <div class="nicdark_masonry_container">
                {% for article in articles %}
                    <!-- article {{ forloop.counter }}-->
                    <div class="grid grid_4 nicdark_masonry_item educational">
                        <div class="nicdark_archive1 nicdark_bg_blue nicdark_radius nicdark_shadow">
                            {% if article.image %}
                                <a  href="/blog/articles/{{ article.slug }}">
                                    <img alt="{{ article.title }} cover image"  
                                         src="{{ article.image.url }}"
                                    >
                                </a>
                            {% endif %}
                            <div class="nicdark_margin20">
                                <h4 class="white">{{ article.title | capfirst }}</h4>
                                <div class="nicdark_space20"></div>
                                <div class="nicdark_divider left small"><span class="nicdark_bg_white nicdark_radius"></span></div>
                                <div class="nicdark_space20"></div>
                                <p class="white">
                                    {{ article.content | truncatechars:80 }}
                                </p>
                                <div class="nicdark_space20"></div>
                                <a  href="/blog/articles/{{ article.slug }}" 
                                    class="white nicdark_btn"
                                >
                                    <i class="icon-doc-text-1 "></i> 
                                    Read More
                                </a>
                            </div>
                            <i class="icon-camera-outline nicdark_iconbg right medium blue"></i>
                        </div>
                    </div>
                    <!-- end article {{ forloop.counter }}-->
                {% endfor %}
            </div>
            {# end articles #}

            <div class="nicdark_space50"></div>
        </div>
    </section>
    {# end blog #}


	{# page navigation buttons #}
    {% comment %}
    <!--
    <div class="nicdark_section">
        <div class="nicdark_container nicdark_clearfix">
            <div class="nicdark_space40"></div>
            {# prev #}
            <div class="grid grid_6 nicdark_aligncenter_iphoneland nicdark_aligncenter_iphonepotr">
                <a class="nicdark_disable_floatright_iphoneland nicdark_disable_floatright_iphonepotr nicdark_btn nicdark_bg_green medium right nicdark_shadow nicdark_radius white nicdark_press"><i class="icon-left-open-outline"></i>&nbsp;&nbsp;&nbsp;PREV</a>
            </div>
            {# end prev #}

            {# next #}
            <div class="grid grid_6 nicdark_aligncenter_iphoneland nicdark_aligncenter_iphonepotr">
                <a class=" nicdark_btn nicdark_bg_green medium nicdark_shadow nicdark_radius white nicdark_press">NEXT&nbsp;&nbsp;&nbsp;<i class="icon-right-open-outline"></i></a>
            </div>
            {# end next #}
            <div class="nicdark_space50"></div>
        </div>
    </div>
    -->
    {% endcomment %}
    {# page navigation buttons #}


{% endblock %}





