{% load staticfiles %}


<!-- generic metadata -->
<meta charset="utf-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- end generic metadata -->


<!-- social media metadata -->
<meta name="description" content="nicdark Framework">
<meta name="author" content="@randychampagne">
<!-- end social media metadata -->


<!--favicons-->
<link rel="shortcut icon" href="{% static "kidsfm/img/favicon/favicon.ico" %}">
<link rel="apple-touch-icon" href="{% static "kidsfm/img/favicon/apple-touch-icon.png" %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static "kidsfm/img/favicon/apple-touch-icon-72x72.png" %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static "kidsfm/img/favicon/apple-touch-icon-114x114.png" %}">
<!--end favicons-->



