{% load staticfiles %}


<div class="nicdark_section nicdark_navigation">
    <div class="nicdark_menu_boxed">
        <div class="nicdark_section nicdark_bg_greydark nicdark_displaynone_responsive invisible">
            <!-- black box -->
            <div class="nicdark_container nicdark_clearfix">
                <div class="grid grid_6"></div>
                <div class="grid grid_6 right"></div>
            </div>
            <!-- end black box -->
        </div>
        <div class="nicdark_space3 nicdark_bg_gradient"></div>
        <!-- begin header -->
        <div class="nicdark_section nicdark_bg_grey nicdark_shadow nicdark_radius_bottom fade-down">
            <div class="nicdark_container nicdark_clearfix">
                <div class="grid grid_12 percentage">
                        <div class="nicdark_space20"></div>
                        <div class="nicdark_logo nicdark_marginleft10">
                            <a href="index.php.html"><img alt="" src="{% static "kidsfm/img/logo.png" %}"></a>
                        </div>
                        <a class="nicdark_btn_icon nicdark_zoom nicdark_bg_yellow_hover nicdark_right_sidebar_btn_open nicdark_marginright10 nicdark_bg_orange extrasmall nicdark_radius white right">
                            <i class="icon-search-2"></i>
                        </a>
                        <nav>
                            <ul class="nicdark_menu nicdark_margin010 nicdark_padding50">
                                <li class="yellow">
                                    <a href="#">Home</a>
                                </li>
                                <li class="orange">
                                    <a href="#">Media</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Listen Live</a></li>
                                        <li>
                                            <a href="#">Media Gallery</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">our photos</a></li>
                                                <li><a href="#">our videos</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="red">
                                    <a href="#">Schedule</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Now Playing&nbsp;...</a></li>
                                        <li><a href="#">This week's schedule</a></li>
                                    </ul>
                                </li>
                                <li class="green">
                                    <a href="#">Blog</a>
                                </li>
                                <li class="violet nicdark_displaynone_ipadland">
                                    <a href="contact-1.php.html">About Us</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Our Mission</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                    </ul>
                                </li>
                                <li class="grey">
                                    <a href="#">
                                        <img class="lang-flag" src="{% static "kidsfm/img/flag/united-states.png" %}" alt="United States" />
                                        <span class="lang-name">English</span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="#">
                                                <img class="lang-flag" src="{% static "kidsfm/img/flag/haiti.png" %}" alt="Haiti" />
                                                <span class="lang-name">Kreyòl</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img class="lang-flag" src="{% static "kidsfm/img/flag/france.png" %}" alt="France" />
                                                <span class="lang-name">Français</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <div class="nicdark_space20"></div>
                </div>
            </div>
            <!--end container-->
        </div>
        <!--end header-->
    </div>
</div>




