{% load staticfiles %}

<div class="nicdark_section nicdark_navigation">
    
    <div class="nicdark_menu_boxed">
        <div class="nicdark_section nicdark_bg_greydark nicdark_displaynone_responsive invisible">
            


            <!-- black box -->
            <div class="nicdark_container nicdark_clearfix">
                <div class="grid grid_6">
                    <!--
                    <div class="nicdark_focus">
                        <h6 class="white">
                            <i class="icon-calendar-outlilne"></i>&nbsp;&nbsp;<a class="white" href="events.php.html">OUR EVENTS</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;<span class="grey">·</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="icon-pencil-1"></i>&nbsp;&nbsp;<a class="white" href="blog-masonry.php.html">NEWS</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;<span class="grey">·</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="icon-phone-outline"></i>&nbsp;&nbsp;(00) +51278934
                        </h6>
                    </div>
                    -->
                </div>
                <div class="grid grid_6 right">
                    <!--
                    <div class="nicdark_focus right">
                        <h6 class="white">
                            <i class="icon-globe-alt-outline"></i>&nbsp;&nbsp;<a class="white nicdark_mpopup_window" href="index.html#nicdark_window">LANGUAGES</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;<span class="grey">·</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="icon-plus-outline"></i>&nbsp;&nbsp;<a class="white nicdark_mpopup_ajax" href="form-register.php.html">REGISTER</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;<span class="grey">·</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="icon-lock-1"></i>&nbsp;&nbsp;<a class="white nicdark_mpopup_ajax" href="form-login.php.html">LOG IN</a>
                        </h6>
                    </div>
                    -->
                </div>

                <!--info window for languages->
                <div id="nicdark_window" class="nicdark_bg_white nicdark_radius zoom-anim-dialog mfp-hide">
                    
                    <div class="nicdark_textevidence nicdark_bg_red nicdark_radius_top">
                        <div class="nicdark_margin20">
                            <h4 class="white">LANGUAGES</h4>
                        </div>
                    </div>

                    <div class="nicdark_margin20">
                        
                        <ul class="nicdark_list border">
                        
                            <li class="nicdark_border_grey">
                                <p><a class="grey" href="index.php.html">ENGLISH</a><a href="index.php.html" class="nicdark_btn right nicdark_opacity"><img alt="" width="30" src="img/flag/img1.png"></a></p>
                                <div class="nicdark_space15"></div>
                            </li>

                            <li class="nicdark_border_grey">
                                <div class="nicdark_space15"></div>
                                <p><a class="grey" href="index.php.html">RUSSIAN</a><a href="index.php.html" class="nicdark_btn right nicdark_opacity"><img alt="" width="30" src="img/flag/img2.png"></a></p>   
                                <div class="nicdark_space15"></div>
                            </li>
                                
                            <li class="nicdark_border_grey">
                                <div class="nicdark_space15"></div>
                                <p><a class="grey" href="index.php.html">ARABIC</a><a href="index.php.html" class="nicdark_btn right nicdark_opacity"><img alt="" width="30" src="img/flag/img3.png"></a></p>   
                                <div class="nicdark_space15"></div>
                            </li>

                            <li class="nicdark_border_grey">
                                <div class="nicdark_space15"></div>
                                <p><a class="grey" href="index.php.html">ITALIAN</a><a href="index.php.html" class="nicdark_btn right nicdark_opacity"><img alt="" width="30" src="img/flag/img4.png"></a></p>    
                            </li>
                                
                        </ul>
                    </div>
                </div-->
                <!--end window-->
            </div>
            <!-- end black box -->







        </div>

        <div class="nicdark_space3 nicdark_bg_gradient"></div>

        <!-- begin header -->
        <div class="nicdark_section nicdark_bg_grey nicdark_shadow nicdark_radius_bottom fade-down">
            <div class="nicdark_container nicdark_clearfix">

                <div class="grid grid_12 percentage">
                        
                        <div class="nicdark_space20"></div>

                        <div class="nicdark_logo nicdark_marginleft10">
                            <a href="index.php.html"><img alt="" src="{% static "kidsfm/img/logo.png" %}"></a>
                        </div>

                        <!--a class="nicdark_btn_icon nicdark_zoom nicdark_bg_yellow_hover nicdark_right_sidebar_btn_open nicdark_marginright10 nicdark_bg_orange extrasmall nicdark_radius white right"><i class="icon-basket-1"></i></a-->
                        
                        <nav>
                            <ul class="nicdark_menu nicdark_margin010 nicdark_padding50">

                                <li class="yellow">
                                    <a href="#">Home</a>
                                    <!-- disabled the home submenu cause it's useless -->
                                    <!--
                                    <ul class="sub-menu">
                                        <li><a href="index.php.html">Home Default</a></li>
                                        <li><a href="index-2.php.html">Color Sections</a></li>
                                        <li><a href="index-3.php.html">Boxed Version</a></li>
                                    </ul>
                                    -->
                                </li>
                                <li class="orange">
                                    <a href="#">Media</a>
<!-- 
    ToDo:
    - add submenu for: Listen Now
    - add submenu for: View YouTube Chanel
    - add submenu for: View Gallery
    - add submenu for: News
-->

                                    <ul class="sub-menu">
                                        <li><a href="#">Listen Live</a></li>
                                        <li>
                                            <a href="#">YouTube Chanel</a>
<!-- Disabling this sub-menu -->
<!--                                            
                                            <ul class="sub-menu">
                                                <li><a href="teachers.php.html">All Teachers</a></li>
                                                <li><a href="single-teacher.php.html">Single Teacher</a></li>
                                            </ul>
-->
                                        </li>
                                        <li>
                                            <a href="#">Photo Gallery</a>
<!-- Disabling this sub-menu -->
<!--
                                            <ul class="sub-menu">
                                                <li><a href="excursions.php.html">All Excursion</a></li>
                                                <li><a href="single-excursion.php.html">Single Excursion</a></li>
                                            </ul>
-->
                                        </li>
                                        <li>
                                            <a href="#">Our News</a>
<!-- Disabling this sub-menu -->
<!--
                                            <ul class="sub-menu">
                                                <li><a href="courses.php.html">All Courses</a></li>
                                                <li><a href="single-course.php.html">Single Course</a></li>
                                            </ul>
-->
                                        </li>
<!-- Disabling the rest of the menu items -->
<!--
                                        <li>
                                            <a href="events.php.html">Events</a>
                                            <ul class="sub-menu">
                                                <li><a href="events.php.html">All Events</a></li>
                                                <li><a href="single-event.php.html">Single Event</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="shop.php.html">Shop</a>
                                            <ul class="sub-menu">
                                                <li><a href="shop.php.html">Products</a></li>
                                                <li><a href="shop-cart.php.html">Cart</a></li>
                                                <li><a href="shop-checkout.php.html">Checkout</a></li>
                                                <li><a href="single-product.php.html">Single Product</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="components.php.html">Some Components</a>
                                            <ul class="sub-menu">
                                                <li><a href="components-forms.php.html">Forms Solutions</a></li>
                                                <li><a href="components-archives.php.html">Archives Solutions</a></li>
                                                <li><a href="components-focus.php.html">Focus Solutions</a></li>
                                                <li><a href="components-widgets.php.html">Widgets Solutions</a></li>
                                                <li><a href="components.php.html">All Components</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="faq.php.html">Faq</a></li>
                                        <li><a href="404.php.html">404</a></li>
-->
                                    </ul>
                                </li>
                                <li class="red">
                                    <a href="#">Schedule</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Now Playing&nbsp;...</a></li>
                                        <li><a href="#">This week's schedule</a></li>
                                    </ul>
                                </li>
<!-- disabled this mega menu alltogether -->
<!--
                                <li class="blue nicdark_megamenu">
                                    <a href="index.html#">MEGA MENU</a>
                                    <ul class="sub-menu">
                                        <li class="mm_grid mm_grid_3">
                                            <a href="shop.php.html">SHOP PAGES</a>
                                            <ul class="sub-menu">
                                                <li><a href="shop-cart.php.html">Cart Page</a></li>
                                                <li><a href="shop-checkout.php.html">Checkout Page</a></li>
                                                <li><a href="single-product.php.html">Single Product</a></li>
                                            </ul>
                                        </li>
                                        <li class="mm_grid mm_grid_3">
                                            <a href="index.html#">DEDICATED PAGES</a>
                                            <ul class="sub-menu">
                                                <li><a href="single-course.php.html">Single Course</a></li>
                                                <li><a href="single-excursion.php.html">Single Excursion</a></li>
                                                <li><a href="single-event.php.html">Single Event</a></li>
                                            </ul>
                                        </li>
                                        <li class="mm_grid mm_grid_3">
                                            <a href="components.php.html">COMPONENTS</a>
                                            <ul class="sub-menu">
                                                <li><a href="components.php.html">Jquery Components</a></li>
                                                <li><a href="components.php.html">Basic Components</a></li>
                                                <li><a href="components.php.html">All Components</a></li>
                                            </ul>
                                        </li>
                                        <li class="mm_grid mm_grid_3">
                                            <a href="index.html#">SPECIAL PAGES</a>
                                            <ul class="sub-menu">
                                                <li><a href="prices.php.html">Prices Page</a></li>
                                                <li><a href="teachers.php.html">Teachers Page</a></li>
                                                <li><a href="faq.php.html">Faq Page</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
-->
                                <li class="green">
                                    <!--a href="blog-masonry.php.html">blog</a-->
                                    <a href="#">Blog</a>
<!-- disabled the blog submenu -->
<!--
                                    <ul class="sub-menu">
                                        <li><a href="blog-masonry.php.html">Masonry Layout</a></li>
                                        <li>
                                            <a href="single-post-right-sidebar.php.html">Single Post</a>
                                            <ul class="sub-menu">
                                                <li><a href="single-post-left-sidebar.php.html">Left Sidebar</a></li>
                                                <li><a href="single-post-right-sidebar.php.html">Right Sidebar</a></li>
                                                <li><a href="single-post-full-width.php.html">Full Width</a></li>
                                            </ul>
                                        </li>
                                    </ul>
-->
                                </li>
                                <li class="violet nicdark_displaynone_ipadland">
                                    <a href="contact-1.php.html">About Us</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Our Mission</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                    </ul>
                                </li>
<!-- disabled the e-commerce menu alltogether -->
<!--
                                <li class="yellow">
                                    <a href="shop.php.html">SHOP</a>
                                    <ul class="sub-menu">
                                        <li><a href="shop.php.html">Products</a></li>
                                        <li><a href="shop-cart.php.html">Cart</a></li>
                                        <li><a href="shop-checkout.php.html">Checkout</a></li>
                                        <li><a href="single-product.php.html">Product</a></li>
                                    </ul>
                                </li>
-->
                                <li class="grey">
                                    <a href="#">
                                        <img class="lang-flag" src="{% static "kidsfm/img/flag/united-states.png" %}" alt="United States" />
                                        <span class="lang-name">English</span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="#">
                                                <img class="lang-flag" src="{% static "kidsfm/img/flag/haiti.png" %}" alt="Haiti" />
                                                <span class="lang-name">Kreyòl</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img class="lang-flag" src="{% static "kidsfm/img/flag/france.png" %}" alt="France" />
                                                <span class="lang-name">Français</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
    
                        <div class="nicdark_space20"></div>

                </div>

            </div>
            <!--end container-->

        </div>
        <!--end header-->

    </div>

</div>