{% load staticfiles %}



<div class="nicdark_right_sidebar nicdark_bg_greydark nicdark_nicescrool">

    <a class="nicdark_right_sidebar_btn_close nicdark_btn_icon small nicdark_bg_red nicdark_radius white nicdark_absolute_right10 nicdark_shadow"><i class="icon-power"></i></a>
    
    <!--start CART-->
    <div class="nicdark_margin020">
        <div class="nicdark_space20"></div>
        <h4 class="white">YOUR CART</h4>
        <div class="nicdark_space20"></div>
        <div class="nicdark_divider left small"><span class="nicdark_bg_white nicdark_radius"></span></div>
    </div>
    <div class="nicdark_textevidence">
        <div class="nicdark_margin20">
            <ul class="nicdark_list nicdark_relative">
                <li>
                    <a href="single-product.php.html"><img alt=""  class="nicdark_absolute nicdark_radius nicdark_opacity nicdark_width60" src="img/shop/img1.jpg"></a>
                    <div class="nicdark_activity nicdark_marginleft80">
                        <h5 class="grey subtitle">BOOK CHILDREN</h5>                        
                        <div class="nicdark_space10"></div>
                        <p>1 x $ 254,00</p>
                    </div>
                    <div class="nicdark_space30"></div>
                </li>
                <li>
                    <a href="single-product.php.html"><img alt=""  class="nicdark_absolute nicdark_radius nicdark_opacity nicdark_width60" src="img/shop/img2.jpg"></a>
                    <div class="nicdark_activity nicdark_marginleft80">
                        <h5 class="grey subtitle">BOOK FOR KIDS</h5>                        
                        <div class="nicdark_space10"></div>
                        <p>1 x $ 254,00</p>
                    </div>
                    <div class="nicdark_space10"></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="nicdark_margin020">
        <h5 class="grey">SUBTOTAL: <span class="white subtitle">$ 754,00</span></h5>
        <div class="nicdark_space20"></div>
        <div class="nicdark_focus">
            <a href="shop-cart.php.html" class="nicdark_btn nicdark_bg_green small nicdark_shadow nicdark_radius white"><i class="icon-basket-1"></i>&nbsp;&nbsp;VIEW CART</a>
        </div>
    </div>
    <--end CART-->

    <!--start FILTER-->
    <div class="nicdark_margin020">
        <div class="nicdark_space60"></div>
        <h4 class="white">FILTER PRICE</h4>
        <div class="nicdark_space20"></div>
        <div class="nicdark_divider left small"><span class="nicdark_bg_white nicdark_radius"></span></div>
    </div>
    <div class="nicdark_margin020 nicdark_block">
        <div class="nicdark_space20"></div>
        <div class="nicdark_radius nicdark_bg_greydark2 nicdark_slider_range"></div>
        <div class="nicdark_space20"></div>
    </div>
    <div class="nicdark_margin020">
        <input class="nicdark_bg_greydark white subtitle small nicdark_padding0 nicdark_slider_amount" type="text">
        <div class="nicdark_space20"></div>
        <a href="shop.php.html" class="nicdark_btn nicdark_bg_yellow small nicdark_shadow nicdark_radius white"><i class="icon-money-1"></i>&nbsp;&nbsp;FILTER</a>
    </div>
    <!--END FILTER-->

    <!--start PRODUCTS-->
    <div class="nicdark_margin020">
        <div class="nicdark_space60"></div>
        <h4 class="white">BEST BOOKS</h4>
        <div class="nicdark_space20"></div>
        <div class="nicdark_divider left small"><span class="nicdark_bg_white nicdark_radius"></span></div>
    </div>
    <div class="nicdark_textevidence">
        <div class="nicdark_margin20">
            <ul class="nicdark_list nicdark_relative">
                <li>
                    <a href="single-product.php.html"><img alt=""  class="nicdark_absolute nicdark_radius nicdark_opacity nicdark_width60" src="{% static "kidsfm/img/shop/img3.jpg" %}"></a>
                    <div class="nicdark_activity nicdark_marginleft80">
                        <h5 class="grey subtitle">BOOK STUDENT</h5>                        
                        <div class="nicdark_space10"></div>
                        <p><i class="icon-star yellow"></i><i class="icon-star yellow"></i><i class="icon-star yellow"></i><i class="icon-star yellow"></i><i class="icon-star-half-alt yellow"></i></p>
                    </div>
                    <div class="nicdark_space30"></div>
                </li>
                <li>
                    <a href="single-product.php.html"><img alt=""  class="nicdark_absolute nicdark_radius nicdark_opacity nicdark_width60" src="{% static "kidsfm/img/shop/img4.jpg" %}"></a>
                    <div class="nicdark_activity nicdark_marginleft80">
                        <h5 class="grey subtitle">BOOK EDUCATION</h5>                        
                        <div class="nicdark_space10"></div>
                        <p><i class="icon-star yellow"></i><i class="icon-star yellow"></i><i class="icon-star yellow"></i><i class="icon-star yellow"></i><i class="icon-star-half-alt yellow"></i></p>
                    </div>
                    <div class="nicdark_space30"></div>
                </li>
                <li>
                    <a href="single-product.php.html"><img alt=""  class="nicdark_absolute nicdark_radius nicdark_opacity nicdark_width60" src="{% static "kidsfm/img/shop/img5.jpg" %}"></a>
                    <div class="nicdark_activity nicdark_marginleft80">
                        <h5 class="grey subtitle">BOOK PRIMARY</h5>                        
                        <div class="nicdark_space10"></div>
                        <p><i class="icon-star yellow"></i><i class="icon-star yellow"></i><i class="icon-star yellow"></i><i class="icon-star yellow"></i><i class="icon-star-half-alt yellow"></i></p>
                    </div>
                    <div class="nicdark_space10"></div>
                </li>
            </ul>
        </div>
    </div>
    <!--end PRODUCTS-->

    <!--start SEARCH-->
    <div class="nicdark_margin020">
        <div class="nicdark_space40"></div>
        <h4 class="white">SEARCH YOUR BOOKS</h4>
        <div class="nicdark_space20"></div>
        <div class="nicdark_divider left small"><span class="nicdark_bg_white nicdark_radius"></span></div>
    </div>
    <div class="nicdark_margin20">
        <input class="nicdark_bg_greydark2 nicdark_radius nicdark_shadow grey small subtitle" type="text" value="" placeholder="KEYWORD">
        <div class="nicdark_space20"></div>
        <a href="shop.php.html" class="nicdark_btn nicdark_bg_blue small nicdark_shadow nicdark_radius white"><i class="icon-search-outline"></i>&nbsp;&nbsp;SEARCH</a>
    </div>
    <!--end SEARCH-->

    <!--start TAGS-->
    <div class="nicdark_margin020">
        <div class="nicdark_space40"></div>
        <h4 class="white">PRODUCTS TAGS</h4>
        <div class="nicdark_space20"></div>
        <div class="nicdark_divider left small"><span class="nicdark_bg_white nicdark_radius"></span></div>
    </div>
    <div class="nicdark_margin10">
        <a href="shop.php.html" class="nicdark_btn nicdark_bg_greydark2 small nicdark_shadow nicdark_radius white subtitle nicdark_margin10">Radio</a>
        <a href="shop.php.html" class="nicdark_btn nicdark_bg_greydark2 small nicdark_shadow nicdark_radius white subtitle nicdark_margin10">Gospel</a>
        <a href="shop.php.html" class="nicdark_btn nicdark_bg_greydark2 small nicdark_shadow nicdark_radius white subtitle nicdark_margin10">Kids</a>
        <a href="shop.php.html" class="nicdark_btn nicdark_bg_greydark2 small nicdark_shadow nicdark_radius white subtitle nicdark_margin10">Radio</a>
        <a href="shop.php.html" class="nicdark_btn nicdark_bg_greydark2 small nicdark_shadow nicdark_radius white subtitle nicdark_margin10">Radio</a>
        <a href="shop.php.html" class="nicdark_btn nicdark_bg_greydark2 small nicdark_shadow nicdark_radius white subtitle nicdark_margin10">Gospel</a>
        <a href="shop.php.html" class="nicdark_btn nicdark_bg_greydark2 small nicdark_shadow nicdark_radius white subtitle nicdark_margin10">Kids</a>
        <a href="shop.php.html" class="nicdark_btn nicdark_bg_greydark2 small nicdark_shadow nicdark_radius white subtitle nicdark_margin10">Radio</a>
        <a href="shop.php.html" class="nicdark_btn nicdark_bg_greydark2 small nicdark_shadow nicdark_radius white subtitle nicdark_margin10">Radio</a>
        <a href="shop.php.html" class="nicdark_btn nicdark_bg_greydark2 small nicdark_shadow nicdark_radius white subtitle nicdark_margin10">Gospel</a>
        <a href="shop.php.html" class="nicdark_btn nicdark_bg_greydark2 small nicdark_shadow nicdark_radius white subtitle nicdark_margin10">Kids</a>
        <a href="shop.php.html" class="nicdark_btn nicdark_bg_greydark2 small nicdark_shadow nicdark_radius white subtitle nicdark_margin10">Radio</a>
        <a href="shop.php.html" class="nicdark_btn nicdark_bg_greydark2 small nicdark_shadow nicdark_radius white subtitle nicdark_margin10">Radio</a>
        <a href="shop.php.html" class="nicdark_btn nicdark_bg_greydark2 small nicdark_shadow nicdark_radius white subtitle nicdark_margin10">Gospel</a>
        <a href="shop.php.html" class="nicdark_btn nicdark_bg_greydark2 small nicdark_shadow nicdark_radius white subtitle nicdark_margin10">Kids</a>
        <a href="shop.php.html" class="nicdark_btn nicdark_bg_greydark2 small nicdark_shadow nicdark_radius white subtitle nicdark_margin10">Radio</a>
    </div>
    <!--end TAGS-->

</div>
