{% extends "kidsfm/base.html" %}
{% load staticfiles %}


{% block metadata %}
    <title>{{ article.title }} - Kids FM</title>
{% endblock %}


{% block content %}
	
	{# jumbotron #}
    <!--start section-->
    <section id="nicdark_parallax_title" class="nicdark_section nicdark_imgparallax nicdark_parallaxx_img8">
        <div class="nicdark_filter greydark">
            <!--start nicdark_container-->
            <div class="nicdark_container nicdark_clearfix">
                <div class="grid grid_12">
                    <div class="nicdark_space100"></div>
                    <div class="nicdark_space100"></div>
                    <h1 class="white subtitle">{{ article.title }}</h1>
                    <div class="nicdark_space10"></div>
                    <div class="nicdark_divider left big"><span class="nicdark_bg_white nicdark_radius"></span></div>
                    <div class="nicdark_space40"></div>
                    <div class="nicdark_space50"></div>
                </div>
            </div>
            <!--end nicdark_container-->
        </div>
    </section>
    <!--end section-->
    {# end jumbotron #}


    {# article #}
    <!--start section-->
    <section class="nicdark_section">
        <!--start nicdark_container-->
        <div class="nicdark_container nicdark_clearfix">
            <div class="nicdark_space50"></div>
            <div class="grid grid_12">

                {% if article.image %}
                	{# featured image #}
        			<img alt="{{ article.title }} cover image" 
                         class="nicdark_radius nicdark_opacity" 
                         style="float:left;width:100%;" 
                         src="{{ article.image.url }}"
                    >
        			<div class="nicdark_space20"></div>
        			{# end featured image #}
                {% endif %}

    			{# metadata #}
    			<div class="nicdark_textevidence nicdark_bg_orange nicdark_radius nicdark_shadow">
                    <div class="nicdark_size_big">
                        <p class="white">
                            <i class="icon-calendar-1 nicdark_marginright10"></i>
                            {{ article.published_on }} 
                            <span class="nicdark_margin010">·</span> 
                            <i class="icon-user-1 nicdark_marginright10"></i>
                            {{ article.author.first_name | capfirst | add:' ' }}
                            {{ article.author.middle_name | capfirst | add:' ' }}
                            {{ article.author.last_name | capfirst }}
                            <span class="nicdark_margin010">·</span>
                        </p>
                    </div>
                    <i class="icon-info-outline nicdark_iconbg right medium orange"></i>
                </div>
                <div class="nicdark_space50"></div>
                {# end metadata #}


                {% if article.image %}
                    {# header #}
                    <h1 class="subtitle greydark">{{ article.title }}</h1>
                    <div class="nicdark_space20"></div>
                    <div class="nicdark_divider left small"><span class="nicdark_bg_yellow nicdark_radius"></span></div>
                    <div class="nicdark_space20"></div>
                    {# end header #}
                {% endif %}


                {# content #}
                <div class="description">
                    <p>
                        <span class="white nicdark_dropcap nicdark_bg_yellow nicdark_radius nicdark_shadow">
                            {{ article.content | slice:":1" }}
                        </span>
                        {{ article.content | slice:"1:" | linebreaks }}
                    </p>
                </div>
                <div class="nicdark_space50"></div>
                {# end content #}

                
                {# author #}
                <!--author-->
                <div class="nicdark_archive1 nicdark_bg_yellow nicdark_radius nicdark_shadow">
                    <a href="/team/members/{{ article.author.slug }}">
                        <div class="nicdark_margin20 nicdark_relative">
        	    			<img alt="author's profile image" 
                                 class="nicdark_displaynone_ipadpotr nicdark_radius_circle nicdark_absolute" 
                                 style="width:100px;" 
                                 src="{{ article.author.profile_img.url }}"
                            >
        	                <div class="nicdark_activity nicdark_marginleft120 nicdark_disable_marginleft_ipadpotr">
        	                    <h4 class="white">
                                    {{ article.author.first_name | capfirst | add:' ' }}
                                    {{ article.author.middle_name | capfirst | add:' ' }}
                                    {{ article.author.last_name | capfirst }}
                                </h4>                        
        	                    <div class="nicdark_space20"></div>
        			            	<div class="nicdark_divider left small"><span class="nicdark_bg_white nicdark_radius"></span></div>
        			            <div class="nicdark_space20"></div>
                                <p class="white">
                                    {{ article.author.bio | capfirst | truncatechars:150 }}
                                </p>
        	                </div>
                        </div>
                    </a>
                </div>
                <!--author-->
                <div class="nicdark_space50"></div>
                {# end author #}

    		</div>
    		<div class="nicdark_space50"></div>
        </div>
        <!--end nicdark_container-->
    </section>
    <!--end section-->
    {# end article #}

{% endblock %}




