{% extends "kidsfm/base.html" %}
{% load staticfiles %}


{% block metadata %}
    <title>Contact Us - Kids FM</title>
{% endblock %}


{% block content %}

    {# jumbotron #}
    <!--start section-->
    <section id="nicdark_parallax_title" class="nicdark_section nicdark_imgparallax nicdark_parallaxx_img5">
        <div class="nicdark_filter greydark">
            <!--start nicdark_container-->
            <div class="nicdark_container nicdark_clearfix">
                <div class="grid grid_12">
                    <div class="nicdark_space100"></div>
                    <div class="nicdark_space100"></div>
                    <h1 class="white subtitle">Contact Us</h1>
                    <div class="nicdark_space10"></div>
                    <h3 class="subtitle white">We would love to hear from you</h3>
                    <div class="nicdark_space20"></div>
                    <div class="nicdark_divider left big"><span class="nicdark_bg_white nicdark_radius"></span></div>
                    <div class="nicdark_space40"></div>
                    <div class="nicdark_space50"></div>
                </div>
            </div>
            <!--end nicdark_container-->
        </div>
    </section>
    <!--end section-->
    {# end jumbotron #}


    {# contact #}
    <!--start section-->
    <section class="nicdark_section">
        <!--start nicdark_container-->
        <div class="nicdark_container nicdark_clearfix">
            <div class="nicdark_space40"></div>

            {# details #}
            <div class="grid grid_4">
                {% for location in locations %}
                <!-- location {{ forloop.counter }} -->
                <div class="nicdark_archive1 nicdark_bg_grey nicdark_radius nicdark_shadow">
                    <div class="nicdark_margin20 nicdark_relative">
                            <a href="contact-1.php.html#" class="nicdark_displaynone_ipadpotr nicdark_btn_icon nicdark_bg_{% cycle 'blue' 'yellow' 'green' 'violet' 'orange' 'red' as icon_color %} extrabig nicdark_radius_circle white nicdark_absolute nicdark_shadow"><i class="icon-location-outline nicdark_rotate"></i></a>
                            <div class="nicdark_activity nicdark_marginleft100 nicdark_disable_marginleft_ipadpotr">
                                <h4>{{ location.title | capfirst }}</h4>                        
                                <div class="nicdark_space20"></div>
                                <p>
                                    {{ location.address | capfirst }}<br/>
                                    {{ location.city | capfirst }}<br/>
                                    {{ location.state | capfirst }}<br/>
                                    {{ location.phone }}<br/>
                                    {{ location.email }}<br/>
                                </p>
                            </div>
                    </div>
                </div>
                <div class="nicdark_space20"></div>
                <!-- end location {{ forloop.counter }} -->
                {% endfor %}
            </div>
            {# end details #}

            {# form #}
            <form class="grid grid_8" method="POST" action="/contact/">{% csrf_token %}
               <div class="nicdark_archive1 nicdark_bg_grey nicdark_radius nicdark_shadow">
                    <div class="nicdark_textevidence nicdark_bg_orange nicdark_radius_top">
                        <h4 class="white nicdark_margin20">CONTACT US</h4>
                        <i class="icon-mail nicdark_iconbg right medium orange"></i>
                    </div>
                    <div class="nicdark_margin20">
                        {{ form.name.errors }}
                        {{ form.name }}
                        <div class="nicdark_space20"></div>
                        {{ form.email.errors }}
                        {{ form.email }}
                        <div class="nicdark_space20"></div>
                        {{ form.message.errors }}
                        {{ form.message }}
                        <div class="nicdark_space20"></div>
                        <input class="nicdark_btn nicdark_bg_orange medium nicdark_shadow nicdark_radius white" type="submit" value="Send">
                    </div>
                </div>
            </form>
            {# end form #}

            <div class="nicdark_space50"></div>
        </div>
        <!--end nicdark_container-->
    </section>
    <!--end section-->
    {# end contact #}



    {# map widget #}
    <!--start section->
    <section class="nicdark_section">
        <div class="nicdark_textevidence">
            <iframe class="nicdark_iframe nicdark_margintop40_negative nicdark_marginbottom90_negative" src="https://mapsengine.google.com/map/embed?mid=zefx5FZI0Z00.kKFANsaMqDXY" height="400" ></iframe>
        </div>
    </section>
    <!--end section-->
    {# end map widget #}

{% endblock %}




