{% extends "kidsfm/base.html" %}
{% load staticfiles %}


{% block metadata %}
    <title>Thank you - Kids FM</title>
{% endblock %}


{% block content %}

{% comment %}
	<h1>Thank you for contacting us</h1>

	{{ message }}
{% endcomment %}



{# jumbotron #}
    <!--start section-->
    <section id="nicdark_parallax_title" class="nicdark_section nicdark_imgparallax nicdark_parallaxx_img1">
        <div class="nicdark_filter greydark">
            <!--start nicdark_container-->
            <div class="nicdark_container nicdark_clearfix">
                <div class="grid grid_12">
                    <div class="nicdark_space100"></div>
                    <div class="nicdark_space100"></div>
                    <h1 class="white subtitle">Thank You</h1>
                    <div class="nicdark_space10"></div>
                    <!--h3 class="subtitle white">for contacting us</h3-->
                    <div class="nicdark_space20"></div>
                    <div class="nicdark_divider left big"><span class="nicdark_bg_white nicdark_radius"></span></div>
                    <div class="nicdark_space40"></div>
                    <div class="nicdark_space50"></div>
                </div>

            </div>
            <!--end nicdark_container-->
        </div>
    </section>
    <!--end section-->
    {# end jumbotron #}


    {# article #}
    <!--start section-->
    <section class="nicdark_section">
        <!--start nicdark_container-->
        <div class="nicdark_container nicdark_clearfix">
            <div class="nicdark_space50"></div>
            <div class="grid grid_12">


                {# thank you note #}
                <p>
                	We received the message below and will contact you promptly via your email address {{ message.email }}.
                </p>
                <div class="nicdark_space50"></div>
                {# end thank you note #}

                
                {# message preview #}
                <!--message preview-->
                <div class="nicdark_archive1 nicdark_bg_blue nicdark_radius nicdark_shadow">
                    <div class="nicdark_margin20 nicdark_relative">
    	                <div class="nicdark_activity nicdark_marginleft120 nicdark_disable_marginleft_ipadpotr">
    	                    <h4 class="white">{{ message.name }}</h4>                        
    	                    <div class="nicdark_space20"></div>
    			            <div class="nicdark_divider left small"><span class="nicdark_bg_white nicdark_radius"></span></div>
    			            <div class="nicdark_space20"></div>
    	                    <p class="white">
    	                    	{{ message.message }}
    	                    </p>
    	                </div>
                    </div>
                </div>
                <!--message preview-->
                <div class="nicdark_space50"></div>
                {# end message preview #}
    			<div class="nicdark_space50"></div>
       		</div>
       	</div>
        <!--end nicdark_container-->
    </section>
    <!--end section-->
    {# end article #}



    {# parallax #}
    <!--start section-->
    <div id="nicdark_parallax_2_btns" class="nicdark_section nicdark_imgparallax nicdark_parallaxx_img3">
        <div class="nicdark_filter greydark">
            <!--start nicdark_container-->
            <div class="nicdark_container nicdark_clearfix">
                <div class="nicdark_space40"></div>
                <div class="nicdark_space50"></div>
                <div class="grid grid_6 nicdark_aligncenter_iphoneland nicdark_aligncenter_iphonepotr">
                    <a href="/" class="nicdark_disable_floatright_iphoneland nicdark_disable_floatright_iphonepotr nicdark_btn nicdark_bg_blue medium right nicdark_shadow nicdark_radius white nicdark_press"><i class="icon-home"></i>&nbsp;&nbsp;&nbsp;Home</a>
                </div>
                <div class="grid grid_6 nicdark_aligncenter_iphoneland nicdark_aligncenter_iphonepotr">
                    <a href="/contact/" class=" nicdark_btn nicdark_bg_blue medium nicdark_shadow nicdark_radius white nicdark_press"><i class="icon-mail"></i>&nbsp;&nbsp;&nbsp;Contact Us</a>
                </div>
                <div class="nicdark_space40"></div>
                <div class="nicdark_space50"></div>
            </div>
            <!--end nicdark_container-->
        </div>
    </div>
    <!--end section-->
    {# end parallax #}

{% endblock %}